    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Roboto', sans-serif;
    }
    
    a {
        text-decoration: none;
    }
    
    img {
        cursor: pointer;
    }
    
    .flex {
        display: flex;
        align-items: center;
    }
    /* Navbar style */
    
    nav {
        justify-content: space-between;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #fff;
        padding: 5px 30px;
        height: 80px;
    }
    
    .nav__left .nav__menuicon {
        width: 30px;
        margin-right: 25px;
    }
    
    .nav__left .nav__logo {
        width: 120px;
    }
    
    .nav__middle .nav__search {
        padding: 7px 15px;
        background-color: #e9ecef;
        border-radius: 20px;
        margin-right: 25px;
        border: 1px solid #adb5bd;
    }
    
    .nav__middle .nav__search input {
        width: 400px;
        background-color: transparent;
        border: none;
        padding: 5px;
        outline: none;
    }
    
    .nav__middle .nav__search img {
        width: 15px;
    }
    
    .nav__middle .nav__voiceicon {
        width: 18px;
    }
    
    .nav__right img {
        width: 30px;
        margin-right: 20px;
    }
    
    .nav__right .nav__usericon {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 0;
    }
    /* Navbar style end */
    /* Sidebar style */
    
    .sidebar {
        padding: 50px 30px;
        width: 15%;
        height: calc(100vh - 80px);
        position: fixed;
        top: 60px;
        background-color: #fff;
    }
    
    .sidebar a {
        cursor: pointer;
        width: fit-content;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    
    .sidebar a img {
        margin-right: 15px;
        width: 25px;
    }
    
    .sidebar a .sidebar__home {
        color: red;
    }
    
    .sidebar hr {
        border: 0;
        height: 1px;
        width: 80%;
        background-color: #ced4da;
    }
    
    .subscription h3 {
        font-size: 15px;
        text-transform: uppercase;
        margin: 20px 0;
    }
    
    .subscription a {
        margin-bottom: 20px;
        width: fit-content;
        flex-wrap: wrap;
    }
    
    .subscription a img {
        width: 30px;
        border-radius: 50%;
        margin-right: 20px;
    }
    
    .sidebar p {
        color: black;
        font-weight: 600;
    }
    /* .sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
} */
    
    .collapse {
        width: 6%;
    }
    
    .collapse a p {
        display: none;
    }
    
    .collapse .subscription h3 {
        display: none;
    }
    
    .collapse hr {
        width: 50%;
    }
    /* Sidebar style end */
    /* Body style */
    
    .body {
        padding-left: 17%;
        padding-right: 2%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .body__top {
        width: 100%;
        position: relative;
    }
    
    .body__top .body__playa {
        width: 100%;
        border-radius: 10px;
        height: 350px;
    }
    
    .body .body__topdeco {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        gap: 30px;
        transform: translate(-50%, -50%);
    }
    
    .body__topdeco img {
        width: 90px;
        object-fit: cover;
        border-radius: 50%;
        background-color: transparent;
    }
    
    .body__topdeco p {
        font-size: 25px;
        font-weight: 900;
        background-color: white;
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .body__topdeco button {
        outline: none;
        border: none;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 20px;
        background-color: black;
        color: white;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border-radius: 5px;
    }
    
    .body__topdeco button:hover {
        background-color: white;
        color: black;
    }
    /* Body style end */
    /* Video style */
    
    .videocontainer {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: 16px;
        grid-row: 32px;
    }
    
    .videolist {
        margin-bottom: 32px;
    }
    
    .videolist .videolist__img {
        width: 100%;
        border-radius: 5px;
    }
    
    .videolist .videocontent {
        display: flex;
        align-items: flex-start;
        margin-top: 10px;
    }
    
    .videolist .videocontent .videoimg {
        border-radius: 50%;
        width: 35px;
        margin-right: 10px;
    }
    
    .videoright {
        font-size: 15px;
        color: #5a5a5a;
    }
    
    .videoright a {
        font-weight: 700;
        display: block;
        color: black;
        margin-bottom: 5px;
    }
    
    .videoright .video4k {
        justify-content: space-between;
        padding-right: 20px;
    }
    
    .videoright .video4k h4 {
        padding: 2px 5px;
        background-color: red;
        color: white;
        border-radius: 5px;
        font-size: 10px;
    }
    
    .fitbody {
        padding-left: 6%;
    }
    /* Video style end */
    
    @media (max-width: 900px) {
        nav {
            padding: 5px 15px;
        }
        .nav__menuicon {
            display: none;
        }
        .nav__left .nav__logo {
            width: 90px;
        }
        .nav__right img {
            display: none;
        }
        .nav__right .nav__usericon {
            display: block;
        }
        .nav__middle .nav__search input {
            width: 100px;
        }
        .nav__middle .nav__voiceicon {
            display: none;
        }
        .sidebar {
            display: none;
        }
        .body__topdeco p {
            font-size: 16px;
        }
        .body,
        .fitbody {
            padding-left: 2%;
        }
    }
    /* Play video style */
    
    .play-body {
        padding-left: 2%;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .left-sidebar {
        flex-basis: 69%;
    }
    
    .left-sidebar video {
        width: 100%;
    }
    
    .right-sidebar {
        flex-basis: 30%;
    }
    
    .right-video {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    .right-sidebar a {
        font-weight: 900;
        color: black;
        margin-right: 10px;
        font-size: 14px;
        margin-bottom: 7px;
    }
    
    .right-video img {
        width: 100%;
    }
    
    .video-infos p {
        margin-bottom: 7px;
        color: gray;
    }
    
    .left-sidebar .tags a {
        color: #0000ff;
        font-size: 14px;
    }
    
    .left-sidebar h3 {
        font-weight: 600;
        font-size: 24px;
    }
    
    .left-sidebar .video-like {
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
        font-size: 15px;
        color: #5a5a5a;
    }
    
    .left-sidebar .video-like a {
        display: inline-flex;
        align-items: center;
        margin-right: 15px;
        font-weight: 600;
        color: gray;
    }
    
    .left-sidebar .video-like a img {
        width: 25px;
        margin-right: 10px;
    }
    
    .left-sidebar hr {
        border: none;
        height: 1px;
        margin: 10px 0;
        background-color: #ccc;
    }
    
    .channel {
        justify-content: space-between;
    }
    
    .channel img {
        width: 60px;
        border-radius: 50%;
        margin-right: 20px;
    }
    
    .channelinfos .chanelinfosright p {
        margin-bottom: 5px;
        font-weight: 900;
        font-size: 18px;
    }
    
    .channelinfos .chanelinfosright span {
        color: #5a5a5a;
    }
    
    .channel .subscribe button {
        border: none;
        font-size: 20px;
        font-weight: bold;
        background-color: red;
        color: white;
        margin-right: 5px;
        padding: 5px 20px;
        text-transform: uppercase;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .description {
        padding-left: 80px;
        margin: 15px 0;
    }
    
    .description p {
        margin-bottom: 6px;
        font-size: 15px;
        color: #5a5a5a;
    }
    
    .description hr {
        border: none;
        height: 1px;
        margin: 10px 0;
        background-color: #ccc;
    }
    
    .addcomment {
        margin: 30px 0;
    }
    
    .addcomment img {
        width: 40px;
        border-radius: 50%;
        margin-right: 15px;
    }
    
    .addcomment input {
        outline: none;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding: 10px;
        background-color: transparent;
        font-size: 15px;
    }
    
    .comment {
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    
    .comment>img {
        width: 40px;
        border-radius: 50%;
        margin-right: 15px;
    }
    
    .comment-top {
        margin-bottom: 10px;
    }
    
    .comment-top h4 {
        margin-right: 10px;
    }
    
    .comment-top span {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    .comment-content p {
        padding-right: 20px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    .comment-icons a {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    
    .comment-icons {
        /* margin-right: 10px; */
        gap: 20px;
    }
    
    .comment-icons span {
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        color: gray;
    }
    
    .comment-icons a img {
        width: 20px;
        margin-bottom: 10px;
        margin-right: 8px;
    }
    
    .comment-reply {
        cursor: pointer;
    }
    
    .comment-reply img {
        width: 25px;
    }
    
    .comment-reply p {
        font-size: 16px;
        color: #0000ff;
        font-weight: 600;
        margin-left: 10px;
    }
    /* Play video style end */
    
    @media (max-width:900px) {
        .left-sidebar,
        .right-sidebar {
            flex-basis: 100%;
        }
        .play-body {
            padding-left: 4%;
            padding-right: 4%;
        }
        .channel .subscribe button {
            font-size: 15px;
            padding: 5px 10px;
        }
        .channel img {
            width: 40px;
            margin-right: 15px;
        }
        .description {
            padding-left: 0;
            margin: 15px 0;
        }
        .left-sidebar .video-like a {
            margin-top: 15px;
        }
    }