@import './variables';
@import './mixins';
header {
    color: var(--color-white);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        &__left {
            @include flexBox(center, center);
            position: relative;
            .rectangle {
                transition: $transition;
                width: 60%;
                height: 100%;
                background-color: var(--color-secondary);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
            }
            .profilImage {
                @include flexBox(center, center);
                padding: 20px;
                border-radius: 30px;
                height: 90%;
                width: 70%;
                margin-left: 64px;
                background-color: black;
                transition: $transition;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(100%);
                    &:hover {
                        filter: grayscale(0);
                    }
                }
            }
        }
        &__right {
            @include flexBox(center, center);
            flex-direction: column;
            padding-right: 280px;
            h1 {
                font-size: 48px;
                span {
                    position: relative;
                    color: var(--color-secondary);
                    width: max-content;
                    // &::before,
                    // &::after {
                    //     content: '';
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     bottom: 0;
                    //     right: 0;
                    // }
                    // &::before {
                    //     animation: typeWriter 5s steps(14) forwards;
                    //     background-color: $color-primary;
                    // }
                    // &::after {
                    //     width: 0.125em;
                    //     background-color: black;
                    //     animation: typeWriter 6s steps(13) .07s forwards, blink 250ms steps(13) infinite;
                    // }
                }
            }
            p {
                margin: 20px 0;
                line-height: 32px;
            }
        }
    }
}

@keyframes typeWriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background-color: transparent;
    }
}