@import './variables';
@import './mixins';
.setting {
    @include flexBox(center, center);
    background-color: transparent;
    position: absolute;
    padding: 2px;
    top: 10px;
    left: 40px;
    transform: translateX(-50%);
    z-index: 10;
    border-radius: 50%;
    background-color: var(--color-secondary);
    box-shadow: $custome-shadow;
    &__icon {
        color: black;
        cursor: pointer;
        animation: rotateAnimation 2s ease-in-out alternate infinite;
    }
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}