@import './variables';
.theme {
    position: fixed;
    background-color: var(--color-secondary);
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 60px;
    top: 10px;
    right: 20px;
    z-index: 20;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--color-primary);
        transform: scale(0.9);
        transition: all 1s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}

.toggle {
    span {
        left: 30px;
        background-color: var(--color-white);
        animation: anim 1.5s ease-in-out;
        @keyframes anim {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0.3;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

.light__mode {
    --color-primary: #ffffff;
    --color-secondary: #0077b6;
    --color-white: #000;
    --color-black: #FFFFFF;
    --color-grey-zero: #454e56;
    --color-grey-one: #2a2e35;
    --color-grey-two: #6c7983;
    --color-grey-three: #b2becd;
    --color-grey-four: #454e56;
    --color-grey-five: #dbe1e8;
}