// $color-primary: #191d2b;
// $color-secondary: #27AE60;
// $color-secondary: #ee4266;
// $color-white: #FFFFFF;
// $color-black: #000;
// $color-grey-zero: #f8f8f8;
// $color-grey-one: #dbe1e8;
// $color-grey-two: #b2becd;
// $color-grey-three: #6c7983;
// $color-grey-four: #454e56;
// $color-grey-five: #2a2e35;
// $color-grey-six: #12181b;
$font-size: 14px;
$custome-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
rgba(0, 0, 0, 0.12) 0px -12px 30px,
rgba(0, 0, 0, 0.12) 0px 4px 6px,
rgba(0, 0, 0, 0.17) 0px 12px 13px,
rgba(0, 0, 0, 0.09) 0px -3px 5px;
$custome-shadow1:rgba(0, 0, 0, 0.1) 0px 4px 12px;
$transition: all .5s ease-in-out;