@import './variables';
@import './mixins';
@import './global';
@import './theme';
@import './header';
@import './about';
@import './contact';
@import './portfolio';
@import './icons';
@import './timeline';
@import './cursor';
@import './palette';
@import './setting';
@import './overlay';
@import './media';
@import './devices/mobil';
:root {
    --color-primary: #191d2b;
    --color-secondary: #ee4266;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey-zero: #f8f8f8;
    --color-grey-one: #dbe1e8;
    --color-grey-two: #b2becd;
    --color-grey-three: #6c7983;
    --color-grey-four: #454e56;
    --color-grey-five: #2a2e35;
    --color-grey-6: #12181b;
}

.section {
    transform: translateY(-100%) scale(0);
    transition: $transition;
    background-color: var(--color-primary);
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 48px 260px;
}

.first {
    display: none;
    transform: translateY(0) scale(1);
    padding: 0 !important;
}

.second,
.third,
.fourth,
.fivth {
    display: none;
    transform: translateY(0) scale(1);
}

.activeSection {
    display: block;
    animation: sectionAnim 1s ease-in-out;
    @keyframes sectionAnim {
        0% {
            transform: translateY(-100%) scale(0);
        }
        100% {
            transform: translateY(0) scale(1);
        }
    }
}

.cvBtn {
    @include flexBox(center, center);
    a {
        @include cv-btn-style;
        span:nth-child(1) {
            padding: 0 32px;
        }
        span:nth-child(2) {
            @include flexBox(center, center);
            background-color: var(--color-secondary);
            border-radius: 50%;
            padding: 16px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            transform: translateX(100%);
            transition: all .5s ease-out;
            width: 100%;
            height: 100%;
        }
        &:hover::before {
            background-color: var(--color-secondary);
            transform: translateX(0);
        }
    }
}

.sectionTitle {
    text-align: center;
    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 600;
        span {
            color: var(--color-secondary);
        }
        span:nth-child(2) {
            position: absolute;
            opacity: 0.3;
            top: 50%;
            left: 50%;
            color: var(--color-grey-five);
            transition: $transition;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 700;
            font-size: 100px;
        }
    }
}

.title__component {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding: 56px 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        background-color: var(--color-grey-five);
        transform: translateX(-50%);
    }
}

///////////Responsive////////////////////
@include responsive-mode(mobil) {
    .cvBtn {
        padding-bottom: 96px;
        margin-top: 30px;
    }
    .sectionTitle {
        h2 {
            font-size: 32px;
            span {
                font-size: 34px;
            }
            span:nth-child(2) {
                opacity: 0.6;
                font-size: 34px;
            }
        }
    }
    .section {
        padding: 32px 40px !important;
    }
}