@import './mixins';
@import './global';
@import './variables';
@import './mobil';
.header {
    width: 100%;
    height: 90vh;
    position: relative;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center;
    .top {
        position: relative;
        height: 90px;
        z-index: 3;
        img {
            width: 120px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
        a {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .bottom {
        @include flex(column);
        position: relative;
        z-index: 3;
        width: 70%;
        margin: auto;
        margin-top: 170px;
        h1 {
            color: $p--color;
            font-size: 70px;
            font-weight: 700;
            line-height: 1;
            margin: 0 0 32px;
        }
        p {
            text-transform: uppercase;
            font-size: 30px;
            color: $p--color;
            margin: 0 0 32px;
            line-height: 1.2;
        }
        a {
            padding: 15px 20px;
            font-size: 20px;
            text-transform: uppercase;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: $custome--shadow;
    }
}

// Section
.tab-items {
    border-bottom: 3px solid #3d3d3d;
    padding-top: 16px;
    background-color: var(--dark-mode);
    .wrapper {
        @include grid(3,
        1fr,
        16px);
        text-align: center;
        width: 70%;
        padding: 0 32px;
        margin: auto;
        .item {
            padding: 24px 0;
            cursor: pointer;
            transition: all .4s ease-in-out;
            p {
                padding-top: 16px;
                font-size: 18px;
            }
            &:hover {
                color: $p--color;
            }
        }
        .active {
            border-bottom: 4px solid var(--primary-color);
        }
    }
}

.tab-content {
    background-color: #000;
    padding: 48px 0;
    .wrapper {
        width: 70%;
        padding: 0 32px;
        margin: auto;
        .out {
            display: none;
            width: 100%;
        }
        .show {
            display: inline
        }
    }
    .tab1 {
        @include grid(2,
        1fr,
        32px);
        align-items: center;
        justify-content: center;
        p {
            font-size: 26px;
            margin-bottom: $margin--b;
            color: $p--color;
        }
        a {
            font-size: 20px;
        }
    }
    .tab2 {
        .top {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 16px;
            align-items: center;
            justify-content: center;
            p {
                color: $p--color;
                font-size: 20px;
            }
            a {
                font-size: 20px;
                justify-content: center;
            }
        }
        .bottom {
            @include grid(3,
            1fr,
            32px);
            margin-top: 32px;
            align-items: center;
            justify-content: center;
            &-content {
                @include flex(column);
                gap: 10px;
                text-align: center;
                p:nth-child(2) {
                    color: $p--color;
                    font-size: 18px;
                }
            }
        }
    }
    .tab3 {
        .top {
            text-align: center;
            p {
                color: $p--color;
                font-size: 20px;
                margin-bottom: $margin--b;
            }
            a {
                font-size: 20px;
                justify-content: center;
                margin-bottom: $margin--b;
            }
        }
        table {
            margin-top: 25px;
            width: 100%;
            border-collapse: collapse;
            th {
                text-transform: uppercase;
                padding: 14px;
                color: $p--color;
                background-color: #000;
            }
            tr:nth-child(odd) {
                background-color: #222;
            }
            td {
                padding: 12px 24px;
                text-align: center;
                color: $smalltext--color;
                &:first-child {
                    text-align: left;
                }
            }
        }
    }
}

.btn-style {
    @include btn;
}

.btn-style:hover {
    opacity: 0.8;
}

.footer {
    margin: 16px auto;
    .wrapper {
        width: 70%;
        padding: 0 32px;
        margin: auto;
        p {
            font-size: 15px;
            margin-bottom: $margin--b;
        }
        .top {
            @include grid(4,
            1fr,
            32px);
            padding-top: 16px;
            padding-bottom: 32px;
            ul {
                li {
                    margin: 10px 0;
                    a {
                        color: $smalltext--color;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}