* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: orange;
}

#gameboard {
  width: 302px;
  height: 302px;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
}

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid #333;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 15px solid #333;
  box-sizing: border-box;
}

.cross {
  height: 60px;
  width: 60px;
  position: relative;
  transform: rotate(45deg);
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  background-color: #333;
}
.cross::before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}
.cross::after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

#info {
  background-color: #333;
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 40px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 2px;
  width: 40%;
  display: flex;
  justify-content: center;
}
