@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, orange 0%, orangered 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    width: 100rem;
    height: 60rem;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.player {
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding: 9rem;
    align-items: center;
    transition: all .75s;
}

.name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 1rem;
    font-weight: 300;
}

.score {
    font-size: 8rem;
    font-weight: 300;
    color: black;
    margin-bottom: auto;
}

.player--active {
    background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
    font-weight: 700;
}

.player--active .score {
    font-weight: 500;
}

.player--active .current {
    opacity: 1;
}

.current {
    opacity: 0.8;
    background-color: orangered;
    padding: 2rem;
    border-radius: 9px;
    width: 70%;
    color: #fff;
    text-align: center;
    transition: all .75s;
}

.current-label {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #ddd;
    text-transform: uppercase;
}

.current-score {
    font-size: 3.5rem;
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background-color: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all .2s;
    background-color: white;
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
    font-size: 2.4rem;
    display: inline-block;
    margin-right: 0.7rem;
}

.btn--new {
    top: 4rem;
}

.btn--roll {
    top: 39rem;
}

.btn--hold {
    top: 46rem;
}

.btn:active {
    transform: translate(-50%, 15px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.dice {
    position: absolute;
    top: 19.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
}

.player--winner .name {
    font-weight: bold;
    color: orange;
}

.player--winner {
    background-color: gainsboro;
    font-weight: bold;
}

.hidden {
    display: none;
}