:root {
  --bg-color: #20232b;
  --primary-color: #ff630f;
  --font-color: #fff;
  --font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 8vh);
  background-color: var(--bg-color);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: var(--primary-color);
  color: var(--font-color);
}

.navbar .logo {
  font-size: 30px;
  font-family: var(--font-family);
  font-weight: bold;
  opacity: 1;
  cursor: pointer;
}

.navbar .list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  opacity: 1;
  position: relative;
}

.box {
  display: none;
  cursor: pointer;
}

.box div {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 3px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {
  .navbar .list {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .list {
    position: absolute;
    right: 0;
    top: 8vh;
    height: calc(100vh - 8vh);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    transform: translateX(100%);
    transition: transform 0.7s ease-in;
  }
  .list li {
    opacity: 0;
  }
  .box {
    display: block;
  }
}

.navbar-active {
  transform: translateX(0%);
}

@keyframes myAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.switch .element1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.switch .element2 {
  opacity: 0;
}
.switch .element3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
