footer {
    // padding: 32px 144px;
    padding: 32px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: auto;
        .left {
            display: flex;
            align-items: flex-start;
            gap: 48px;
            .logo {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 5px;
                cursor: pointer;
                img {
                    width: 30px;
                }
                h1 {
                    font-size: 25px;
                    color: white;
                    font-weight: 900;
                    span {
                        color: var(--primary-color);
                        font-size: 20px;
                    }
                }
            }
            .title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 16px;
                font-size: 14px;
                h4 {
                    color: var(--primary-color);
                    text-transform: uppercase;
                    letter-spacing: 1.2px;
                }
                a {
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 14px;
                transition: all .3s ease-in-out;
                .icon {
                    font-size: 22px;
                    margin-right: 10px;
                    color: white;
                    transition: all .3s ease-in-out;
                }
                &:hover {
                    color: var(--primary-color);
                    .icon {
                        color: var(--primary-color);
                        ;
                    }
                }
            }
        }
    }
}