.header {
    background-color: #20232A;
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 144px;
        height: 70px;
        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 5px;
            cursor: pointer;
            img {
                width: 40px;
            }
            h1 {
                font-size: 35px;
                color: white;
                font-weight: 900;
                span {
                    color: var(--primary-color);
                    font-size: 28px;
                }
            }
        }
        .right {
            display: flex;
            justify-content: space-evenly;
            &__left {
                display: flex;
                margin-right: 50px;
                a {
                    color: var(--primary-color);
                    padding: 5px 15px;
                    font-size: 18px;
                    font-weight: 600;
                    transition: all .4s ease-in-out;
                    &:hover {
                        color: white;
                    }
                }
            }
            &__right {
                display: flex;
                margin-left: 50px;
                a {
                    @include a-btn;
                    &:hover {
                        background-color: black;
                        color: var(--primary-color);
                    }
                }
                a:nth-child(1) {
                    margin-right: 25px;
                }
            }
        }
    }
}