@import './mixins';
@import './header';
@import './content';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #282C34;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --primary-color: #48cae4;
}